.current-weather {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0 0 0;

  @media (max-width: 1205px) {
    margin: 80px 60px 0 0;
  }

  @media (max-width: 990px) {
    font-size: 20px;
  }

  &__decription-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 0 24px 0;
  }

  h1 {
    font-feature-settings: 'case' on;

    /* Main/Clear, Few clouds */
    text-shadow: 0px 4px 80px #1280bc;

    /* H1 */
    font-family: 'Poppins';
    font-size: 180px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(270deg, #fff 86.47%, rgba(255, 255, 255, 0) 120.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 1205px) {
      font-size: 140px;
    }

    @media (max-width: 990px) {
      font-size: 100px;
    }
  }

  h2 {
    text-shadow: 0px 4px 80px #1280bc;
    /* H2 */
    font-family: 'Poppins';
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    background: linear-gradient(90deg, #fff 93.5%, rgba(255, 255, 255, 0) 107.77%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 1205px) {
      font-size: 60px;
    }

    @media (max-width: 990px) {
      font-size: 20px;
    }
  }

  h3 {
    color: #fff;
    font-feature-settings: 'ss04' on;

    /* Main/Clear, Few clouds */
    text-shadow: 0px 4px 80px #1280bc;

    /* H3 */
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 33.6px */

    @media (max-width: 990px) {
      font-size: 16px;
    }
  }
}
