.current-weather {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 60px 0 80px 0;

  &__decription-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
  }

  h1 {
    font-feature-settings: 'case' on;

    /* Main/Clear, Few clouds */
    text-shadow: 0px 4px 80px #1280bc;

    /* H1 */
    font-family: 'PP Telegraf';
    font-size: 180px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(270deg, #fff 86.47%, rgba(255, 255, 255, 0) 120.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    text-shadow: 0px 4px 80px #1280bc;
    /* H2 */
    font-family: 'PP Telegraf';
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    background: linear-gradient(90deg, #fff 93.5%, rgba(255, 255, 255, 0) 107.77%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 {
    color: #fff;
    font-feature-settings: 'ss04' on;

    /* Main/Clear, Few clouds */
    text-shadow: 0px 4px 80px #1280bc;

    /* H3 */
    font-family: 'PP Telegraf';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 33.6px */
  }
}
