.saved-city-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-self: stretch;
  min-height: 111px;
  border-radius: 20px;
  background: rgba(2, 83, 127, 0.5);
  padding: 24px 20px;
  cursor: pointer;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 23px;

    div {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  &__icon {
    width: 28px;
    height: 28px;
  }

  &__title {
    color: #fff;
    font-feature-settings: 'ss04' on;
    /* Main/Clear, Few clouds */
    text-shadow: 0px 4px 80px #1280bc;
    text-align: left;
    /* H3 */
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
  }

  &__text {
    color: #fff;
    /* Main/Clear, Few clouds */
    text-shadow: 0px 4px 80px #1280bc;
    text-align: left;
    /* Text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__temp {
    color: #fff;
    text-align: right;
    font-feature-settings: 'ss04' on;

    /* Main/Clear, Few clouds */
    text-shadow: 0px 4px 80px #1280bc;
    font-family: 'Poppins';
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 54.6px */
  }

  &__range-temp {
    color: #fff;
    text-align: right;
    /* Text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
