@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", "PP Telegraf", sans-serif;
  background: url('./assets/images/background_few-clouds.png') lightgray 50% / cover no-repeat;
  width: 100vw;
}

